/* Global Styles */
:root {
    --background-main: #f0f0f0;
    --background-secondary: #f0f0f0;
    --background-highlight: #f0f0f0;
    --border-color: #dee2e6;
    --text-color: #343a40;
    --accent-color: #007bff;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--background-main);
    color: var(--text-color);
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  /* Layout Wrapper */
  .game-layout-wrapper {
    height: 100%;
    width: 100%;
  }
  
  /* Left Menu */
  .game-layout-wrapper .left-menu {
    background-color: var(--background-highlight);
    border-right: 1px solid var(--border-color);
    bottom: 0;
    position: fixed;
    top: 0;
    width: 260px;
    z-index: 10;
  }
  
  .game-layout-wrapper .left-menu .logo {
    border-bottom: 1px solid var(--border-color);
    height: 75px;
    line-height: 70px;
    text-align: center;
  }
  
  .game-layout-wrapper .left-menu .left-menu-content-wrapper {
    background-color: var(--background-secondary);
    height: 100%;
    overflow: hidden auto;
    padding-bottom: 65px;
    scrollbar-color: var(--background-highlight) var(--background-main);
    scrollbar-width: thin;
  }
  
  .game-layout-wrapper .left-menu-content-wrapper h1,
  .game-layout-wrapper .left-menu-content-wrapper h2,
  .game-layout-wrapper .left-menu-content-wrapper p,
  .game-layout-wrapper .left-menu-content-wrapper code {
    color: var(--text-color);
  }
  
  /* Right Main Content */
  .game-layout-wrapper .right-main {
    margin-left: 260px;
    min-height: 100vh;
  }
  
  .game-layout-wrapper .right-main .top-nav {
    background-color: var(--background-highlight);
    border-bottom: 1px solid var(--border-color);
    height: 75px;
    left: 260px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 15;
  }
  
  .game-layout-wrapper .right-main .content {
    background-color: var(--background-secondary);
    min-height: calc(100vh - 75px);
    padding: 75px 75px 20px;
    position: relative;
    z-index: 1;
  }
  
  .content-background.game {
    background-image: linear-gradient(180deg, transparent, var(--background-secondary) 50%), url('/src/assets/old-god-mordekaiser-greyscale.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -5;
    opacity: 0.3;
  }
  
  /* Typography */
  h1, h2 {
    font-family: 'Share Tech Mono', sans-serif;
    color: var(--text-color);
  }
  
  h3, h4 {
    font-family: 'Geist', sans-serif;
    color: var(--text-color);
  }
  
  body, p {
    font-family: 'Fira Code', monospace;
    color: var(--text-color);
  }
  
  pre, code {
    font-family: 'Fira Code', monospace;
    color: var(--text-color);
  }
  
  strong {
    font-family: 'Geist Mono', serif;
    color: var(--text-color);
  }
  