---
import Layout from '../layouts/Layout.astro';
import Example from '../content/Example.md';
---

<Layout>
  <div class="content game">
    <div class="content-background game"></div>
    <article>
      <Example />
    </article>
  </div>
</Layout>
